body {
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', Sans-Serif;
  font-size: 15px;
  color: darkgray;
}
h1 {
  margin: 0px;
  font-family: 'Raleway', Sans-Serif;
  font-size: 44px;
  color: black;
}
h2 {
  margin: 20px 0px 20px 0px;
  font-family: 'Raleway', Sans-Serif;
  font-size: 34px;
  color: rgb(118, 118, 118);
}
h3 {
  color: #ecc5c4;
  font-size: 24px;
}
p {
  font-size: 16px;
}
a:hover {
  color: rgb(118, 118, 118);
  transform: scale(1.2);
  border-color: rgb(118, 118, 118);
}
.article {
  color: black;
  font-size: 20px;
}
.article:hover {
  color: #ecc5c4;
  transform: scale(1.2);
}
.link {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.link:hover {
  color: white;
  text-decoration: none;
  transform: scale(1.2);
}
.component {
  margin: 0px 100px 0px 100px;
}
.header {
  background-color: #ecc5c4;
  padding: 10px 150px 10px 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.intro {
  margin: 60px 50px 60px 50px;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: row;
}

.intro-text {
  margin: 0px 20px 0px 0px;
  flex: 3 0 0;
}
.headshot {
  flex: 1 0 0;
  width: fit-content;
}
.projects {
  background-color: rgb(211, 211, 211, 0.3);
  margin: 60px 50px 60px 50px;
  padding: 10px 30px 10px 30px;
}
.projects-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.publications {
  border: 3px solid #ecc5c4;
  margin: 60px 50px 60px 50px;
  padding: 10px 30px 10px 30px;
}
.experiences {
  background-color: rgb(211, 211, 211, 0.3);
  margin: 60px 50px 60px 50px;
  padding: 10px 30px 10px 30px;
}
.experience-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: auto;
  width: 50%;
  color: white;
}
.experience-img {
  height: 150px;
}
.experience1 {
  background-color: white;
  min-width: 400px;
  padding: 5px;
  margin: 40px 0px 40px 0px;
  display: flex;
  flex-direction: row;
  color: darkgray;
  align-items: center;
  text-align: right;
}
.experience2 {
  background-color: white;
  padding: 5px;
  margin: 40px 0px 40px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: darkgray;
}
.interests {
  border: 3px solid #ecc5c4;
  margin: 60px 50px 60px 50px;
  padding: 10px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  background-color: #ecc5c4;
  padding: 10px 50px 10px 50px;
}

.project {
  display: flex;
  flex-direction: row;
  padding: 30px 0px 30px 0px;
}

.project2 {
  display: flex;
  flex-direction: row;
  padding: 30px 0px 30px 0px;
}

.projects h3 {
  margin-top: 0px;
}

.project-img {
  height: 300px;
  margin: 0px 20px 0px 20px;
}

.project-text-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.project-text2 {
  text-align: right;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 60px 200px 60px 200px;
}
.footer a {
  color: rgb(118, 118, 118);
}
.footer a:hover {
  color: white;
}

.footer i {
  font-size: 60px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.button {
  text-decoration: none;
  color: #ecc5c4;
  border-radius: 5px;
  border: 3px solid #ecc5c4;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  margin: 0px 10px 0px 10px;
}

@media (max-width: 600px) {
  .app-component {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .component {
    width: fit-content;
    margin: 0px 0px 0px 0px;
  }
  p {
    font-size: 30px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 40px;
  }
  h4 {
    font-size: 30px;
  }
  .intro {
    flex-direction: column-reverse;
    align-items: center;
  }
  .header {
    width: 600px;
    padding-left: 120px;
  }
  .footer {
    width: 600px;
    text-align: left;
    padding-left: 150px;
  }
  .project {
    flex-direction: column;
    align-items: center;
  }
  .project-text-buttons {
    margin-top: 10px;
  }
  .project2 {
    flex-direction: column-reverse;
    align-items: center;
  }
  .project-text {
    text-align: center;
  }
  .project-text2 {
    text-align: center;
  }
  .headshot {
    width: fit-content;
  }
  .experiences {
    margin: 60px 0px 60px 0px;
  }
  .interests {
    text-align: center;
    width: fit-content;
  }
  .projects a {
    font-size: 30px;
  }
  .projects img {
    width: 600px;
    height: auto;
    margin-bottom: 20px;
  }
  .experience-list {
    width: auto;
    max-width: none;
  }
}
