body {
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', Sans-Serif;
  font-size: 15px;
  color: darkgray;
}
h1 {
  margin: 0px;
  font-family: 'Raleway', Sans-Serif;
  font-size: 44px;
  color: black;
}
h2 {
  margin: 0px;
  font-family: 'Raleway', Sans-Serif;
  font-size: 34px;
}
p {
  font-size: 16px;
}
.link {
  color: black;
  text-decoration: none;
}
.link:hover {
  color: white;
  text-decoration: none;
}
.component {
  margin: 0px 100px 0px 100px;
}
.header {
  background-color: #ecc5c4;
  padding: 10px 150px 10px 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.intro {
  margin: 10px 50px 10px 50px;
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 600px) {
  .intro {
    flex-direction: column;
  }
}
.intro-text {
  margin: 0px 20px 0px 0px;
  flex: 3 0 0;
}
.headshot {
  flex: 1 0 0;
  width: auto;
  max-height: 400px;
}
.projects {
  background-color: rgb(211, 211, 211, 0.3);
  margin: 20px 50px 20px 50px;
  padding: 10px 30px 10px 30px;
}
.projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project {
  width: 400px;
}
.publications {
  border: 3px solid #ecc5c4;
  margin: 20px 50px 20px 50px;
  padding: 10px;
}
.experiences {
  background-color: rgb(211, 211, 211, 0.3);
  margin: 20px 50px 20px 50px;
  padding: 10px;
}
.experience-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: auto;
  width: 50%;
  color: white;
}
.experienc-img {
  max-width: 60px
}
.experience1 {
  background-color: darkgray;
  min-width: 400px;
  padding: 5px;
  margin: 20px;
  display:flex;
  flex-direction:row;
}
.experience2 {
  background-color: darkgray;
  padding: 5px;
  margin: 20px;
  display:flex;
  flex-direction:row;
}
.interests {
  border: 3px solid #ecc5c4;
  margin: 20px 50px 20px 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  background-color: #ecc5c4;
  padding: 10px 50px 10px 50px;
}
